<div class="edit_page">
  <h2 class="edit_title">登録情報の編集を行います</h2>
  
  <%= form_with model: @user, local: true do |f| %>
  <table class="user_edit">
    <tr>
      <th>氏名</th>
      <td><%= f.text_field :first_name, autofocus: true, id: "inputFirst_name", placeholder: "姓", class: "form" %></td>
      <td><%= f.text_field :last_name, autofocus: true, id: "inputLast_name", placeholder: "名", class: "form" %></td>
    </tr>
    
    <tr>
      <th>フリガナ</th>
      <td><%= f.text_field :first_name_kana, autofocus: true, id: "inputFirst_name_kana", placeholder: "セイ", class: "form" %></td>
      <td><%= f.text_field :first_name_kana, autofocus: true, id: "inputFirst_name_kana", placeholder: "メイ", class: "form" %></td>
    </tr>
    
    <tr>
      <th>メールアドレス</th>
      <td><%= f.text_field :email, autofocus: true, id: "inputEmail", placeholder: "eメールアドレス", class: "form" %></td>
    </tr>
    
    <tr>
      <th></th>
      <td></td>
    </tr>
  </table>
  <%= f.submit "変更を登録", class: "edit_button" %>
  <% end %>
</div>