<h1>ユーザー情報編集ページ</h1>

<%= form_with model: @user, local: true do |f| %>
<table>
  <tr>
    <th>氏名</th>
    <td><%= f.text_field :first_name, autofocus: true, id: "inputFirst_name", placeholder: "姓" %></td>
    <td><%= f.text_field :last_name, autofocus: true, id: "inputLast_name", placeholder: "名" %></td>
  </tr>
  
  <tr>
    <th>フリガナ</th>
    <td><%= f.text_field :first_name_kana, autofocus: true, id: "inputFirst_name_kana", placeholder: "セイ" %></td>
    <td><%= f.text_field :first_name_kana, autofocus: true, id: "inputFirst_name_kana", placeholder: "メイ" %></td>
  </tr>
  
  <tr>
    <th>メールアドレス</th>
    <td><%= f.text_field :email, autofocus: true, id: "inputEmail", placeholder: "eメールアドレス" %></td>
  </tr>
  
  <tr>
    <th></th>
    <td><%= f.submit "変更を登録" %></td>
  </tr>
</table>
<% end %>