<div class="mypage">

    <div class="event_content">
      <%= link_to "予定を追加する", new_event_path, class: "event" %>
    </div>
    
  <div class="calender_box">
    
    <div class="calender">
      <%= month_calendar events: @user.events do |date, events| %>
        <%= date.day %>
        
        <% events.each do |event| %>
          <div>
            <%= link_to event.title %>
          </div>
        <% end %>
        
      <% end %>
    </div>
   </div>
   
    <div class="main_box wrapper">
      <%= render 'events/list', event: @event, genre: @genre %>
      
      <%= render 'items/list', items: @items %>
    </div>
 

  <div class="user_content">
    <div>
      <%= link_to "登録情報の変更", edit_user_path(@user), class: "edit" %>
    </div>
    
    <div>
      <%= link_to "退会する", users_confirm_path(@user), class: "delete" %>
    </div>
  </div>

</div>