<div class="mypage">
  <div class="mypage_content">
    
  

    <div class="event_content">
      <%= link_to "予定を追加する", new_event_path, class: "event" %>
    </div>

  <div class="calender_box">

    <div class="calender">
      <%= month_calendar events: @user.events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div>
            <%= label_tag event.title %>
            <%= link_to "削除する", event_path(event.id), method: :delete, data: { confirm: "イベントを削除しますか?"} %>
          </div>
        <% end %>
        
      <% end %>
    </div>
   </div>

    <div class="main_box wrapper">
      <% if @events.any? %>
      
      <%= render 'events/show', event: @event, genres: @genres, item: @item %>
      
      <%= render 'items/list', user: @user , items: @items %>
      
      <% else %>
          <div class="messege">予定がありません</div>
      <% end %>


    </div>

  <div class="user_content">
    <div>
      <%= link_to "登録情報の変更", edit_user_path(@user), class: "edit" %>
    </div>

    <div>
      <%= link_to "退会する", users_confirm_path(@user), class: "delete" %>
    </div>
  </div>
  
  </div>

</div>