<div>
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
  <% end %>
</div>

<%= link_to "予定を追加する", new_event_path %>
<%= link_to "登録情報の変更", edit_user_path(@user) %>
<%= link_to "退会する", users_confirm_path(@user) %>
<h1>マイページ</h1>

