<div class="mypage">

    <div class="event_content">
      <%= link_to "予定を追加する", new_event_path, class: "event" %>
    </div>

  <div class="calender_box">

    <div class="calender">
      <%= month_calendar events: @user.events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div>
            <%= link_to event.title, events_path(event.id) %>
            <%= link_to "削除する", event_path(event.id), method: :delete, data: { confirm: "Are you sure?"} %>
          </div>
        <% end %>

      <% end %>
    </div>
   </div>

    <div class="main_box wrapper">
      <% if @events.any? %>
      <%= render 'events/show', event: @event, genres: @genres, event_items: @event_items, item: @item %>


      <%= render 'items/list', user: @user , items: @items %>
      <% elsif %>
          <div>予定がありません</div>
      <% end %>
    </div>

  <div class="user_content">
    <div>
      <%= link_to "登録情報の変更", edit_user_path(@user), class: "edit" %>
    </div>

    <div>
      <%= link_to "退会する", users_confirm_path(@user), class: "delete" %>
    </div>
  </div>

</div>