
    <div class="event_box">

        <h2>
            <%= event.title %>
        </h2>

           <div>

             <% genres.each do |genre| %>
               <label>
                   <%= genre.name %>
               </label>
                    <% genre.items.each do |item| %>
                      <% if item.event_id == event.id %>
                       <%= form_with url: update_check_box_item_path(item), method: :patch, local: true do |f| %>
                       <li>
                         <%= f.check_box :check_box, {checked: item.check_box, multiple: true}, checked_value = true , unchecked_value = false %>
                         <%= f.label item.name %>
                       </li>

                      <div>
                          <%= f.submit %>
                      </div>

                      <% end %>

                      <% end %>


                      <% end %>
                    <% end %>


          </div>




    </div>