


 <h2 class="event_title">
  <%= event.title %>
 </h2>

  <div class="event_table">
    <table>
        <tbody>
            <% genres.each do |genre| %>
            <tr>
               <th class="genre_title">
                 <%= label_tag genre.name %>
               </th>

               <div>
                 <% genre.items.each do |item| %>
                 <% if item.event_id == event.id %>
                 <%= form_with url: update_check_box_item_path(item), method: :patch, local: true do |f| %>
                <td class="event_item">
                  <%= f.check_box :check_box, {checked: item.check_box, multiple: true}, checked_value = true , unchecked_value = false %>
                  <%= f.label item.name %>
                  <%= f.submit %>
                </td>
                  
                <% end %>
                <% end %>
                <% end %>
               </div>

            </tr>
            <% end %>
        </tbody>
    </table>

  </div>




