<div class="item_page">

  <div class="page_title">
    <h1>アイテム追加ページ</h1>
  </div>


  <div class="item_page_box">

    <div class="item_form">
      <%= form_with model: @item, local: true do |f| %>
        <table>
          <tr>
            <th>持ち物</th>
            <td><%= f.text_field :name, placeholder: "商品名", class: "form" %></td>
          </tr>

          <tr>
            <th>入れるかばん</th>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--", class: "form" %></td>
          </tr>

          <tr>
            <th></th>
            <td><%= f.submit "新規登録", class: "item_button" %></td>
          </tr>
        </table>
      <% end %>
      </div>

      <div class="item_index">
        <table>
          <thead>
            <tr>
              <th>追加した荷物</th>
            </tr>
          </thead>
          
          <tbody>
            <% @genres.each do |genre| %>
              <tr>
                <th class="genre_name"><%= genre.name %></th>

                <div>
                  <% genre.items.each do |item| %>
                  <td class="genre_item"><%= item.name %></td>
                  <% end %>
                </div>

              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
  </div>

</div>