<!DOCTYPE html>
<html>
  <head>
    <title>Backpack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <hedder class="page-hedder wrapper">
     <%= link_to image_tag ('logo.jpg'), class: 'logo' %>
    <nav>
      <ul class="main-nav">
        <% if user_signed_in? %>

        <li>
          <%= link_to "MyPage", users_my_page_path, class: "" %>
        </li>

        <li>
          <%= link_to "持ち物を増やす", new_item_path %>
        </li>

        <li>
          <%= link_to "カバンを増やす", new_genre_path %>
        </li>

        <li>
          <%= link_to "ログアウト", destroy_user_session_path %>
        </li>

        <% else %>

        <li>
          <%= link_to "About", about_path %>
        </li>
        <% end %>
      </ul>
    </nav>
  </hedder>

  <body>
    <%= yield %>
  </body>
</html>
