<!DOCTYPE html>
<html>
  <head>
    <title>Backpack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <hedder>
    <nav>
      <%= link_to "BACKPACK", root_path %>

      <ul>
        <% if user_signed_in? %>

        <li>
          <%= link_to "MyPage", users_my_page_path %>
        </li>

        <li>
          <%= link_to "持ち物を増やす", new_items_path %>
        </li>

        <li>
          <%= link_to "カバンを増やす", new_genres_path %>
        </li>

        <li>
          <%= link_to "ログアウト", destroy_user_session_path %>
        </li>

        <% else %>

        <li>
          <%= link_to "About", about_path %>
        </li>
        <% end %>
      </ul>
    </nav>
  </hedder>

  <body>
    <%= yield %>
  </body>
</html>
